[Desktop Entry]
Version=1.0
Type=Application
Name=guideos-deb-suite
Name[de]=GuideOS DEB Suite
Comment=raphical DEB package builder for Python projects Eine GTK4/Libadwaita-Anwendung zum einfachen Erstellen von Debian-Paketen aus Python-Projekten inklusive Icon-Konvertierung via Inkscape und AppStream-Support.
Exec=guideos-deb-suite
Icon=guideos-deb-suite
Terminal=false
StartupNotify=true
Categories=Utility;
StartupWMClass=guideos-deb-suite
